# .NET
bin/
obj/
*.user
*.suo
.vs/
*.cache
financeflow-69a60-firebase-adminsdk-fbsvc-9931b28465

*firebase-adminsdk*.json

# Vue/Node
node_modules/
dist/
.DS_Store
*.log

# Environment files
.env
.env.local
appsettings.Development.json
